<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/91970/AppiumTask">
        <parameter name="platformVersion" value="8.1.0" />
        <parameter name="deviceName" value="~Galaxy S10e" />
        <classes>
            <class name="Tests.LoginTest">
                <methods>
                    <include name="LoginApplication"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>